<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWXW0ee5FaTxfJOtOIwzGWW7YizfB5SGI</string>
	<key>GCM_SENDER_ID</key>
	<string>491813809201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todo-app-modern</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-modern.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491813809201:ios:12dd112d2788e76d88f910</string>
</dict>
</plist>